<!-- Header -->

<header>

    <!-- Company Logo -->
    <div class="logo">

        <!-- Logo Image -->
        <img src="United.png" width="100" height="60" alt="GBIT Logo">
        <!-- Company Name -->
        <h2></h2>

    </div>


    <!-- Navigation Menu -->
    <nav>

        <!-- Home -->
        <a href="index.html">

            Home

        </a>

        <!-- About -->
        <a href="about.html">

            About

        </a>

        <!-- Careers -->
        <a href="careers.html">

            Careers

        </a>

        <!-- Insights -->
        <a href="insights.html">

            Insights

        </a>

        <!-- Contact Us -->
        <a href="contact.html">

            Contact Us

        </a>

        <!-- Sign In -->
        <a
            href="signin.html"
            id="signinLink">

            Sign In

        </a>

        <!-- Create Account -->
        <a
            href="signup.html"
            id="signupLink">

            Create Account

        </a>

        <!-- Welcome User -->
        <span
            id="welcomeUser"
            style="display:none;
                   margin-left:20px;
                   color:white;
                   font-weight:bold;">

        </span>

        <!-- Sign Out -->
        <a
            href="#"
            id="logoutLink"
            style="display:none;"
            onclick="signOut()">

            Sign Out

        </a>

    </nav>

</header>